<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <%- include('./partials/style.ejs') %>
</head>
<body>
    <%- include('./partials/header-buyer.ejs') %>
    <div>
        <h2>Edit Profile</h2>
    </div>
    <div>
        <% if (error) { %>
            <% error.split(',').forEach(el => { %>
                <p style="color: red;">
                    <%= el %>
                </p>
             <%}); %>
      
        <% } %>
        <form action="/buyer/profile/edit" method="post">
            <div>
                <p>
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" value="<%- profile.name %>">
                </p>
                <p>
                    <label for="address">Address: </label><br>
                    <textarea id="address" name="address" rows="3" cols="60"><%- profile.address %></textarea>
                </p>
                <p>
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email" value="<%- profile.email %>">
                </p>
                <p>
                    <label for="phoneNumber">Phone Number:</label><br>
                    <input type="text" id="phoneNumber" name="phoneNumber" value="<%- profile.phoneNumber %>">
                </p>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>