<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('./partials/style.ejs') %>
</head>
<body>
    <%- include('./partials/header-buyer.ejs') %>
    <div>
        <h2>Dashboard</h2>
    </div>
   
    <div>
        <a href="/buyer/profile/edit"><button class="btn" >Edit Profile</button></a>
    </div>
    
    <div style="display: flex; justify-content: flex-end;">
        <a href="/buyer/cart"><button>Cart</button></a> 
        <a href="/buyer/transactions"><button>Transactions</button></a>
    </div><br>
    <div>
        <form action="/buyer/dashboard" method="get">
            <p style="width: 20%;">
                <select name="CategoryId" id="">
                    <option disabled selected>Category</option>
                    <% categories.forEach(el => { %>
                        <option value=<%=el.id%>><%= el.name %></option>
                    <% }) %>
                </select>
            </p>
            <a> <button class="btnFilter" type="submit">Sort</button></a>
        </form>
    </div>
    <div>
        <% products.forEach(el => { %>
            <div class="card">
                <h2><%= el.name %></h2>
                <img src="https://media.suara.com/suara-partners/metro/thumbs/653x367/2023/03/02/1-hotman-paris.jpg" alt="" width=200></img>
                <p>Price: <%- el.rupiahFormat %></p>
                <a href="/productdetail/<%=el.id%>"><button>Detail product</button></a>
                <form action="/buyer/dashboard" method="post">
                    <div>
                        <input type="hidden" name="name" value="<%= el.name %>">
                        <input type="hidden" name="price" value="<%=el.price  %>">
                        <input type="hidden" name="id" value="<%=el.id  %>">
                        <input type="hidden" name="CategoryId" value="<%= el.CategoryId %>">
                        <button type="submit">Add to cart</button>
                    </div>
                </form>
            </div>
        <% }) %>
    </div>
</body>
</html>