<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Profile</title>
    <%- include('./partials/style.ejs') %>
</head>
<body>
    <%- include('./partials/header-buyer.ejs') %>
    <h1>Your Shopping Cart</h1>
    <div>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% cart.forEach((el,index )=> { %>
                  <tr>
                      <th><%=el.name%></th>
                      <th><%=rupiahFormat(+el.price)%></th>
                      <th style="width: 22%;"><form action="/buyer/cart" method="post">
                        <input type="hidden" name="index" value="<%= index %>">
                        <input style="width: 40%;" type="number" id="quantity" name="quantity" value="<%=el.quantity%>">
                        <button type="submit">Set Quantity</button>
                      </form></th>
                      <th><%=rupiahFormat(el.quantity*el.price)%></th>
                      <th>
                        <a href="/buyer/cart/delete/?item=<%=el.name%>"><button>Delete Item</button></a> 
                      </th>
                    </tr>
              <% }) %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="total">Total:</td>
                <td><%= rupiahFormat(totalPrice) %></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
    </div>
    <div>
      <a href="/buyer/checkout"><button>Checkout</button></a> 
    </div>
</body>
</html>