<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Dashboard</title>
    <%- include('./partials/style.ejs') %>
    <%- include('./partials/table-style.ejs') %>
</head>
<body>
    <%- include('./partials/header-seller.ejs') %><br>
    <button onclick="window.location.href='/seller/profile/add'">Profile</button>
    <button onclick="window.location.href='/seller/product/add'">Add Product</button>
    <button onclick="window.location.href='/seller/transaction'">Transaction List</button>
    <br><br>

    <form action="/seller/dashboard" method="get">
        <p style="width: 20%;">
            <select name="CategoryId">
                <option disabled selected>Category</option>
                <% categories.forEach(element => { %>
                    <option value=<%=element.id%>><%= element.name %></option>
                <% }) %>
            </select>
            <a> <button class="btnFilter" type="submit">Sort</button></a>
        </p>
    </form>

    <table id="products">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        <% products.forEach((element, index) => { %>
            <tr>
                <td><%= ++index %></td>
                <td><%= element.name %></td>
                <td><%= rupiah(element.price) %></td>
                <td><%= element.Category.name %></td>
                <td>
                    <button onclick="window.location.href='/seller/product/detail/<%= element.id %>'">Detail</button>
                    <button onclick="window.location.href='/seller/product/edit/<%= element.id %>'">Edit</button>
                    <button onclick="window.location.href='/seller/product/delete/<%= element.id %>'">Delete</button>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>