<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Dashboard</title>
    <%- include('./partials/style.ejs') %>
    <%- include('./partials/table-style.ejs') %>
</head>
<body>
    <%- include('./partials/header-seller.ejs') %><br>
    <button onclick="window.location.href='/seller/profile'">Profile</button>
    <button onclick="window.location.href='/seller/product/add'">Add Product</button>
    <button onclick="window.location.href='/seller/transaction'">Transaction List</button>
    <br><br>

    <table id="products">
        <tr>
            <th>#</th>
            <th>Transaction Code</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Delivery Address</th>
            <th>Action</th>
        </tr>
        <% transactions.forEach((element, index) => { %>
            <tr>
                <td><%= ++index %></td>
                <td><%= element.transactionCode %></td>
                <td><%= element.status %></td>

                <% let total = 0 %>
                <% element.ProductsTransactions.forEach(el => {
                    total += (el.amount*el.quantity)
                 }) %>
                
                <td><%= rupiah(total) %></td>
                <td><%= element.deliveryAddress %></td>
                <% if (element.status === "Paid") { %>
                    <td>
                        <button onclick="window.location.href='/seller/product/deliver/<%= element.id %>'">Deliver</button>
                    </td>
                <% } else{ %>
                    <td>
                        
                    </td>
                <% }%>
            </tr>
        <% }) %>
    </table>
</body>
</html>